*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    margin: 20px;
}

h1{
    display: inline-block;
}

main{
    background-color: rgb(222, 6, 6);
    padding-top: 30px;
}

section{
    background-color: white;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}