*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    margin: 20px;
}

h1{
    display: inline-block;
}

main{
    background-color: rgba(222, 222, 222, 0.618);
    padding-top: 30px;
}

button{
    padding: 3px 6px 3px 6px;
    border-radius: 13%;
}

#add-task-buttom{
    background-color: blueviolet;
    color: white;
}

#add-section-buttom{
    background-color: white;
    color: rgb(114, 143, 41);
}


section{
    background-color: white;
    margin-top: 3px;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.section-task{
    margin-bottom: 15px;
}